<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV to Table</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="upload-box" id="dropArea" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <input type="file" id="csvFileInput" accept=".csv" style="display:none" onchange="loadFile(event)">
            <button onclick="document.getElementById('csvFileInput').click()">Select Your file</button>
            <p>or drag your CSV file here</p>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
